@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins', sans-serif;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: url('img.jpg') no-repeat;
  background-size:cover;
  background-position:center;
}

.wrapper{
  width:420px;
  background:transparent;
  border: 2px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color:white;
  border-radius:10px;
  padding:30px 40px;
}
.wrapper h1{
  font-size:36px;
  text-align:center;
}
.wrapper input{
  width:100%;
  border:none;
  outline:none;
  background:transparent;
  font-size:18px;
  margin:15px 0 20px;
  padding:0 15px;
  color:white;
  border-bottom:2px solid rgb(79, 57, 86,0.2);
}



#outputtext, #inputtext{
  width:100%;
  border:none;
  outline:none;
  background:transparent;
  font-size:18px;
  margin:15px 0 20px;
  padding:0 15px;
  color:white;
  border-bottom:2px solid rgb(79, 57, 86,0.2);
  word-wrap: break-word;


}

.keyboard{
  position:fixed;
  bottom:0;
  text-align:center;
  border-radius:10px;
  /* background-color:#fdf0ff	; */
  background-color:rgb(255, 255, 255,0.2);
  display:flex;
  width:20em;
  height:auto;
  flex-direction:column;
  padding:10px 5px;
  font:20px arial;
  box-shadow:0px 40px 45px rgba(0,0,0 ,0.4)
}

span{
  -webkit-user-select:none;
  -mo2-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.keyboard button{
  background-color:rgb(255, 255, 255,0.2);
}

button:hover{
  background-color: rgb(255, 252, 168);
}
button.active{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;

}
button img{
  color: black;
  width: 10px;
}



.boldc{
  font-weight: bold;
}
.italicc{
  font-style: italic;
}
.underlinec{
  text-decoration: underline;
}
.lowercasec{
  text-transform: lowercase;
}
.uppercasec{
  text-transform: uppercase;
}
.capitalizec{
  text-transform: capitalize;
}

